<!-- <div class="container ">
      <div class="row justify-content-center ">
            <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7"> -->
<form [formGroup]="registerForm" [style.fontSize]="'20px'">

      <div class="row text-center justify-content-center">

            <div formArrayName="mainInfo" class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
                  *ngFor="let control of mainInfo.controls; let i=index">
                  <mat-form-field [formGroupName]="i" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <!-- {{registerForm.controls.mainInfo.controls[i].status}} -->
                        <input min="0"
                              [type]="(mainInfoInputsName[i] === 'cellphone' || mainInfoInputsName[i] === 'phone' || mainInfoInputsName[i] === 'zip' || mainInfoInputsName[i] === 'tz')? 'number': ''"
                              [formControlName]="mainInfoInputsName[i]" matInput
                              [required]="registerForm.controls.mainInfo.controls[i].status === 'INVALID'"
                              placeholder="{{mainInfoInputsName[i] | translate }}">
                        <mat-error *ngIf="registerForm.controls.mainInfo.controls[i].status === 'INVALID'">
                              {{'required' | translate}} {{mainInfoInputsName[i] | translate}}</mat-error>

                  </mat-form-field>

            </div>

            <div *ngIf="showCity === 1" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

                  <mat-form-field class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <input matInput placeholder="{{'town' | translate}}" [matAutocomplete]="auto"
                              [required]="cityRequired === 1" formControlName="city">
                        <mat-error *ngIf="registerForm.controls.city.status === 'INVALID'">
                              {{'required' | translate}} {{'town' | translate}}</mat-error>
                  </mat-form-field>

                  <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let city of cities | slice:0:10" [value]="city.CityName">
                              {{city.CityName}}
                        </mat-option>
                  </mat-autocomplete>
            </div>

            <div formGroupName="birthday"  *ngIf="showBirthday === 1"
                  class="col-sm-12 col-md-12 col-lg-12 col-xl-12 birthdayRow">
                  <h5>{{'Birthday' | translate}}<span *ngIf="birthday.invalid">*</span></h5>


                  <mat-form-field class="mr-1 ml-1" style="width: 80px">
                        <mat-label>שנה</mat-label>
                        <mat-select formControlName="year">
                              <mat-option *ngFor="let year of years" [value]="year">
                                    {{year}}
                              </mat-option>
                        </mat-select>
                  </mat-form-field>
                  <mat-form-field class="mr-1 ml-1" style="width: 80px">
                        <mat-label>חודש</mat-label>
                        <mat-select formControlName="month">
                              <mat-option *ngFor="let month of monthes; let i = index" [value]="i+1">
                                    <span *ngIf="10 > (i+1)">0</span>{{i+1}}
                              </mat-option>
                        </mat-select>
                  </mat-form-field>
                  <mat-form-field class="mr-1 ml-1" style="width: 80px">
                        <mat-label>יום</mat-label>
                        <mat-select formControlName="day">
                              <mat-option *ngFor="let day of days; let i = index" [value]="i+1">
                                    <span *ngIf="10 > (i+1)">0</span>{{i+1}}
                              </mat-option>
                        </mat-select>
                  </mat-form-field>

                  <!-- <mat-form-field class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <input #Birthday mask="00/00/0000" formControlName="birthday" maxlength="10"
                              [required]="birthdayRequired === 1" matInput placeholder="{{'Birthday' | translate}}">
                        <mat-error>{{'dateFormatError' | translate}} DD/MM/YYYY</mat-error>

                  </mat-form-field> -->
            </div>

            <div *ngIf="showAfterSunset === 1" class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right mr-4 ml-4"
                  style="text-align: initial">

                  <mat-checkbox formControlName="afterSunset">
                        {{'After sunset' | translate}}</mat-checkbox>
            </div>


            <div *ngIf="showRemark === 1" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <mat-form-field class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <textarea matInput placeholder="Remark"></textarea>
                  </mat-form-field>
            </div>




      </div>
</form>
<!-- </div>
      </div>
</div> -->