
<div class="container">
  <div class="row" *ngIf="(windowMode$ | async) === 'regular'">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" [innerHtml]="htmlPage?.Data | htmlPipe"></div>

  </div>
</div>
<div class="container mb-5 mt-5" *ngIf="!fullDataForPage">
  <div class="row justify-content-center">
    <mat-card class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
      <!-- <h4 class="ml-3">{{'registration' | translate}}</h4> -->
      <!-- <h5 class="ml-5">{{'closeRegistration' | translate}}</h5> -->
    </mat-card>
  </div>
</div>
<div class="container mb-5 mt-5" *ngIf="fullDataForPage" >
  <div class="row justify-content-center " #registrationContent>
    <mat-card class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
      <h1 *ngIf="isDeletedPage" class="text-center not-active-message">{{'Page is not active' | translate}}</h1>
      <div
        class="text-inline row "
        style="direction: initial; justify-content: space-between"
        *ngIf="(windowMode$ | async) !== 'iframe' "

      >
        <!-- <h4 class="ml-3">{{'registration' | translate}}</h4> -->
        <span class="lang-toggle" [style.fontSize]="'16px'"  *ngIf="(language$ | async) === 'he'"
          (click)="changeLanguage('en')">en</span>
        <span class="lang-toggle" [style.fontSize]="'16px'"  *ngIf="(language$ | async) === 'en'"
          (click)="changeLanguage('he')">he</span>
      </div>

      <app-main-info [fullDataForPage]="fullDataForPage" [cities]="filteredCities$ | async"
        [mainInfoInputsName]="mainInfoInputsName" [registerForm]="registerForm">
      </app-main-info>
      <hr *ngIf="optionsArray.length !== 0">


      <app-options [optionsArray]="optionsArray" [registerForm]="registerForm"></app-options>
      <hr *ngIf="checkboxesArray.length !== 0">

      <app-additional-fields [additionalFieldsName]="additionalFieldsName" [additionalFields]="registerForm">
      </app-additional-fields>

      <app-checkboxes [checkboxesArray]="checkboxesArray" [registerForm]="registerForm">
      </app-checkboxes>


      <button class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-5" [disabled]="!registerForm.valid && isDeletedPage"
        (click)="getDataFromRegisterForm()" color="primary" mat-raised-button
        type="button">{{'Submit' | translate }}</button>
      <br>
      <small class="mt-2">v1.1</small>
    </mat-card>
  </div>
</div>
